.NavigationListItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationListItem a {
    color: hotpink;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationListItem a:hover,
.NavigationListItem a:active,
.NavigationListItem a.active {
    color: #40A4C8;
}

@media only screen and (min-width: 600px) {
    .NavigationListItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationListItem a {
        color:white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        font-weight: bold;
    }
    
    .NavigationListItem a:hover,
    .NavigationListItem a:active,
    .NavigationListItem a.active {
        background-color: #fff;
        border-bottom: 3px solid #f17474;
        color:#000;
    }
}